    <!-- Footer -->
    <footer class="border-t border-cyan-400 border-opacity-20 py-8">
        <div class="container mx-auto px-6 text-center text-gray-500">
            <div class="text-sm">
                <p class="mb-2">&copy; 2025 CyberJo (Pty) Ltd. All rights reserved. | <a href="privacy.html" class="text-gray-400 hover:text-cyan-400 transition-colors duration-300 underline">Privacy Policy | <a href="paia.html" class="text-gray-400 hover:text-cyan-400 transition-colors duration-300 underline">PAIA</a></a></p>
                <p>Based in South Africa, Securing the Future Globally.</p>
            </div>
        </div>
    </footer>
